<div id="wrapper">
	<h1>Next game: <%= date_of_next("Monday").strftime("%b %d") %> (<%= distance_of_time_in_words(Date.today, date_of_next("Monday")) %>)</h1>
	<div id="checkin_wrapper">
		<a id="check_in" href="#" data-game-id="<%= @next_game.try(:id) %>" data-checkin-url="<%= players_url %>">Check in</a>
		<div id="players_wrapper">
			<ul class='player_list'>
				<% if @next_game.present? && @next_game.players.present? %>
						<% @next_game.players.order("attending DESC").each do |player| %>
							<li class="<%= player.attending? ? 'attending' : 'not_attending' %>">
								<%= player.name %>
							</li>
						<% end %>
				<% else %>
					<span id="no_players">Nobody has checked in</span>
				<% end %>
			</ul>
		</div>
	</div>
</div>
