<div id="wrapper">
	<% if @next_game.date.today? %>
		<% days_count = "Today" %>
	<% else %>
		<% days_count = "#{distance_of_time_in_words(Date.today, date_of_next("Monday"))}" %>
	<% end %>
	<p style="color: #ffffff; font-weight: 100; line-height: 1.5em; font-size: 1.5em; display: none">
		Please bring at least $3 to play. The ability to keep the games going is dependent on getting more contributions.
	</p>
	<p style="color: #ffffff; font-weight: 100; line-height: 1.5em; font-size: 1.5em; display: none;">
		As of right now, there are no more Monday games. A handful of us are very interested in continuing through the summer (at least), but we need commitment from enough guys to make it financially feasible.
		If you would be interested in paying up front to keep the games going through the summer, please add your name below. The total cost is only a few hundred, so if we get enough guys, it's not a big deal. (Probably $25 - $50 for the summer, depending on number of commitments)
		We aren't certain we can secure the court for the summer, but the first step is gauging interest and commitment from all of you.
		Once we have confirmation of whether or not we can continue, I will use this page to relay the information.
	</p>
	<p style="color: #ffffff; font-weight: 100; line-height: 1.5em; font-size: 1.5em">
		Update (7/3): I spoke with Sean, and he won't be consistently available enough this summer to feel comfortable being in charge of the Monday night group.<br>
		I intend to call the church directly and see what the options are for somebody else to take that on, but I've had a busy week.<br>
		I think we'll have a definitive answer by next week, but as of right now, we're not really supposed to use the gym, so folks shouldn't show up tonight.
	</p>
	<!-- <h1>Next game: <%= @next_game.date.strftime("%b %d") %></h1> -->
	<h1>Summer signup</h1>
	<div id="checkin_wrapper">
		<a id="check_in" href="#" data-game-id="<%= @next_game.try(:id) %>" data-checkin-url="<%= players_url %>">CHECK IN</a>
		<div id="players_wrapper">
			<ul class='player_list'>
				<% if @next_game.present? && @next_game.players.present? %>
						<% @next_game.players.order("attending DESC").each do |player| %>
							<li id="<%= player.id %>" class="<%= player.attending? ? 'attending' : 'not_attending' %>" data-update-url="<%= player_url(player) %>">
								<%= player.name %>
							</li>
						<% end %>
				<% else %>
					<span id="no_players">Nobody has checked in</span>
				<% end %>
			</ul>
		</div>
	</div>
</div>
